h1{
    color: greenyellow;
}

h2{
    color:green;} 
h3{
    color: brown;
}       
h4{
    color: darkcyan;
}
h5{
    color: darkgoldenrod;
}
h6{
    color: brown;
}
body{
    background-color: yellowgreen
}
